<script src="{{ site.cdn.jquery }}" integrity="{{ site.cdn.jquery_hash }}" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

<script src="{{ site.baseurl }}/assets/js/vendor/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/material-kit-pro.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/bootstrap-material-design.js"></script>

<!-- plugins -->
<script src="{{ site.baseurl }}/assets/js/plugins/moment.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/jasny-bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/bootstrap-selectpicker.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/application.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/bootstrap-tagsinput.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/nouislider.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>

{%- if site.github -%}
  <script src="{{ site.baseurl }}/dist/js/bootstrap.min.js"></script>
{%- else -%}
  <script src="{{ site.baseurl }}/dist/js/bootstrap.js"></script>
{%- endif -%}

{%- if site.github -%}
  <script src="{{ site.baseurl }}/assets/js/docs.min.js"></script>
{%- else -%}
  <script src="{{ site.baseurl }}/assets/js/vendor/anchor.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/clipboard.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/holder.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/src/application.js"></script>
  <script src="{{ site.baseurl }}/assets/js/src/pwa.js"></script>
{%- endif -%}

<script src="{{ site.baseurl }}/assets/js/ie-emulation-modes-warning.js"></script>

<!-- scripts for meterial kit pro here -->

<script>
  Holder.addTheme('gray', {
    bg: '#777',
    fg: 'rgba(255,255,255,.75)',
    font: 'Helvetica',
    fontweight: 'normal'
  });

  $(document).ready(function(){
      materialKit.initFormExtendedDatetimepickers();


    // Sliders for demo purpose in refine cards section
    var slider = document.getElementById('sliderRegular');

    noUiSlider.create(slider, {
      start: 40,
      connect: [true,false],
      range: {
          min: 0,
          max: 100
      }
    });

    var slider2 = document.getElementById('sliderDouble');

    noUiSlider.create(slider2, {
      start: [ 20, 60 ],
      connect: true,
      range: {
          min:  0,
          max:  100
      }
    });
  });
</script>
